
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.bg-color-primary {
    background: $brand-primary;
}

.bg-color-secondary {
    background: $brand-secondary;
}

.bg-color-alt {
    background: $brand-alt-primary;
}